/* src/styles/explore.module.css */

.exploreContainer {
    width: 100%;
    margin: 0 auto;
    padding: 1.25rem 15.25rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .heading {
    font-size: 26px;
    font-weight: 600;
  }
  
  .navbar {
    width: 100%;
    background-color: #182633;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 12px;
  }
  
  .navButton {
    background-color: transparent;
    color: #a0aec0;
    border: none;
    cursor: pointer;
    padding: 0.75rem 1rem;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.2s, background-color 0.2s;
  }
  
  .navButton:hover {
    color: white;
  }
  
  .navButton.active {
    color: white;
    position: relative;
  }
  
  .navButton.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #00a3ff;
    border-radius: 4px 4px 0 0;
  }
  
  .cardContainer {
    width: 100%;
    min-height: 20rem;
  }
  
  .postList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .postItem {
    position: relative;
    border-radius: 8px;
    background-color: #182633;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .postItem:hover {
    transform: scale(1.03);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }  
  
  .coverPhoto {
    height: 70px;
    background-color: #36e8ff;
  }
  
  .cardContent {
    padding: 0 1rem;
    padding-bottom: 1rem;
  }
  
  .logoSection {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
  }
  
  .logo {
    width: 72px;
    height: 72px;
    background-color: #527386;
    border-radius: 50%;
    position: absolute;
    top: 35px; /* Half overlaps the cover */
    border: 3px solid #182633;
  }
  
  .postTitle {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }
  
  .symbol {
    color: #849DAC;
    font-size: 14px;
    font-weight: 500;
  }
  
  .category {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    text-align: center;
    padding: 0.32rem 0.8rem;
    font-size: 12px;
    color: white; /* Set text color */
    border-radius: 8px; /* Smooth corners */
    overflow: hidden; /* Prevent text overflow */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */
    white-space: nowrap; /* Prevent the text from wrapping */
  }
  

  .utility {
    background-color: #0080D0; /* Blue background for Utility */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.236); /* Subtle shadow for better contrast */

  }
  
  .meme {
    background: linear-gradient(45deg, #e601a9, #ff758c, #ffac30, #ffd856); /* Fun gradient */
    color: white; /* White text for contrast */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.236); /* Subtle shadow for better contrast */
    border-radius: 8px; /* Smooth corners */
    padding: 0.32rem 0.8rem; /* Consistent padding */
    font-size: 12px; /* Adjust font size */
    text-align: center; /* Center the text */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Ensure no overflow issues */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
  }
  
  
  
  .chain {
    padding-top: 0.5rem;
    margin-left: auto; /* Push the element to the far right */
    font-size: 13px;
    font-weight: 550;
    color: #849DAC;
  }
  
  .detailRow {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin: 0.2rem 0;
  }

  .types {
    font-size: 13px;
    color: #849DAC;
    font-weight: 600;

  }

  .detail {
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;

  }

  
  .launchDate {
    font-size: 13px;
    font-weight: 600;
    margin-top: 1rem;
    color: #ffffff;
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Vertically align the icon and text */
    gap: 0.5rem; /* Add space between the icon and text */
  }
  
  